# Credit Risk Classification

Credit risk poses a classification problem that’s inherently imbalanced. This is because healthy loans easily outnumber risky loans. In this Challenge, you’ll use various techniques to train and evaluate models with imbalanced classes. You’ll use a dataset of historical lending activity from a peer-to-peer lending services company to build a model that can identify the creditworthiness of borrowers.

## Instructions:

This challenge consists of the following subsections:

* Split the Data into Training and Testing Sets

* Create a Logistic Regression Model with the Original Data

* Predict a Logistic Regression Model with Resampled Training Data 

### Split the Data into Training and Testing Sets

Open the starter code notebook and then use it to complete the following steps.

1. Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

2. Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

    > **Note** A value of `0` in the “loan_status” column means that the loan is healthy. A value of `1` means that the loan has a high risk of defaulting.  

3. Check the balance of the labels variable (`y`) by using the `value_counts` function.

4. Split the data into training and testing datasets by using `train_test_split`.

### Create a Logistic Regression Model with the Original Data

Employ your knowledge of logistic regression to complete the following steps:

1. Fit a logistic regression model by using the training data (`X_train` and `y_train`).

2. Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

3. Evaluate the model’s performance by doing the following:

    * Calculate the accuracy score of the model.

    * Generate a confusion matrix.

    * Print the classification report.

4. Answer the following question: How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

### Predict a Logistic Regression Model with Resampled Training Data

Did you notice the small number of high-risk loan labels? Perhaps, a model that uses resampled data will perform better. You’ll thus resample the training data and then reevaluate the model. Specifically, you’ll use `RandomOverSampler`.

To do so, complete the following steps:

1. Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points. 

2. Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

3. Evaluate the model’s performance by doing the following:

    * Calculate the accuracy score of the model.

    * Generate a confusion matrix.

    * Print the classification report.
    
4. Answer the following question: How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

### Write a Credit Risk Analysis Report

For this section, you’ll write a brief report that includes a summary and an analysis of the performance of both machine learning models that you used in this challenge. You should write this report as the `README.md` file included in your GitHub repository.

Structure your report by using the report template that `Starter_Code.zip` includes, and make sure that it contains the following:

1. An overview of the analysis: Explain the purpose of this analysis.


2. The results: Using bulleted lists, describe the balanced accuracy scores and the precision and recall scores of both machine learning models.

3. A summary: Summarize the results from the machine learning models. Compare the two versions of the dataset predictions. Include your recommendation for the model to use, if any, on the original vs. the resampled data. If you don’t recommend either model, justify your reasoning.

In [32]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
#from imblearn.metrics import classification_report_imbalanced
from sklearn.metrics import classification_report
import warnings
warnings.filterwarnings('ignore')

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [7]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
# YOUR CODE HERE!

# Review the DataFrame
# YOUR CODE HERE!
csvpath=Path("Resources/lending_data.csv")
data = pd.read_csv(csvpath)
data.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [8]:
# Separate the data into labels and features

# Separate the y variable, the labels
# YOUR CODE HERE!]
y=data['loan_status']

# Separate the X variable, the features
# YOUR CODE HERE!
X=data[['loan_size', 'interest_rate', 'borrower_income', 'debt_to_income', 'num_of_accounts', 'derogatory_marks', 'total_debt']]

In [9]:
# Review the y variable Series
# YOUR CODE HERE!
y.head()

0        0
1        0
2        0
3        0
4        0
        ..
77531    1
77532    1
77533    1
77534    1
77535    1
Name: loan_status, Length: 77536, dtype: int64

In [10]:
# Review the X variable DataFrame
# YOUR CODE HERE!
X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [11]:
# Check the balance of our target values
# YOUR CODE HERE!
y.value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [13]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
# YOUR CODE HERE!
training_features, testing_features, training_targets, testing_targets=train_test_split(X, y)
training_features

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
22435,7600.0,6.362,40500,0.259259,2,0,10500
43358,9200.0,7.035,46800,0.358974,3,0,16800
2259,9000.0,6.967,46200,0.350649,3,0,16200
31442,8600.0,6.775,44400,0.324324,3,0,14400
18985,9500.0,7.173,48100,0.376299,4,0,18100
...,...,...,...,...,...,...,...
34064,8900.0,6.899,45500,0.340659,3,0,15500
6693,10400.0,7.531,51500,0.417476,4,1,21500
43866,7800.0,6.451,41300,0.273608,2,0,11300
21909,10400.0,7.557,51700,0.419729,4,1,21700
14617,8800.0,6.844,45000,0.333333,3,0,15000

In [15]:
testing_features

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
41972,10000.0,7.359,49800,0.397590,4,0,19800
70852,10000.0,7.394,50200,0.402390,4,1,20200
52203,10000.0,7.376,50000,0.400000,4,1,20000
55490,9300.0,7.069,47100,0.363057,3,0,17100
27619,9300.0,7.095,47400,0.367089,3,0,17400
...,...,...,...,...,...,...,...
59067,10000.0,7.367,49900,0.398798,4,0,19900
38926,8700.0,6.833,44900,0.331849,3,0,14900
6031,10600.0,7.645,52500,0.428571,5,1,22500
22697,9800.0,7.283,49100,0.389002,4,0,19100
59494,10000.0,7.393,50200,0.402390,4,1,20200

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [17]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
logistic_regression_model=LogisticRegression()

# Fit the model using training data
# YOUR CODE HERE!
logistic_regression_model.fit(training_features, training_targets)

LogisticRegression()

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [34]:
# Make a prediction using the training data
# YOUR CODE HERE!
training_predictions=logistic_regression_model.predict(training_features)
results_df=pd.DataFrame({"Prediction":training_predictions, "Actual":training_targets})
results_df.head()

       Prediction  Actual
22435           0       0
43358           0       0
2259            0       0
31442           0       0
18985           0       0

In [24]:
# Make a prediction using the testing data
testing_predictions=logistic_regression_model.predict(testing_features)
testing_results_df=pd.DataFrame({"Testing Data Prediction":testing_predictions, "Testing Data Actual":testing_targets})
testing_results_df

       Testing Data Prediction  Testing Data Actual
41972                        0                    0
70852                        0                    0
52203                        0                    0
55490                        0                    0
27619                        0                    0
...                        ...                  ...
59067                        0                    0
38926                        0                    0
6031                         0                    0
22697                        0                    0
59494                        0                    0

[19384 rows x 2 columns]

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [25]:
# Print the balanced_accuracy score of the model
# YOUR CODE HERE!
from sklearn.metrics import accuracy_score
accuracy_score(testing_targets, testing_predictions)

0.9920037144036319

The high accuracy score of 0.99 means that the model predicts every set of features in the testing set 99% times. 
That is, given the features, whether loan status is 0 (healthy loan) or 1 (high risk loan)

In [30]:
# Generate a confusion matrix for the model
# YOUR CODE HERE!
testing_matrix=confusion_matrix(testing_targets, testing_predictions)
testing_matrix

array([[18679,    98],
       [   57,   550]], dtype=int64)

In [33]:
# Print the classification report for the model
# YOUR CODE HERE!
testing_report = classification_report(testing_targets, testing_predictions)
print(testing_report)

              precision    recall  f1-score   support

           0       1.00      0.99      1.00     18777
           1       0.85      0.91      0.88       607

    accuracy                           0.99     19384
   macro avg       0.92      0.95      0.94     19384
weighted avg       0.99      0.99      0.99     19384

In [35]:
training_matrix=confusion_matrix(training_targets, training_predictions)
training_matrix

array([[55975,   284],
       [  177,  1716]], dtype=int64)

In [36]:
# Print the classification report for the model
# YOUR CODE HERE!
training_report = classification_report(training_targets, training_predictions)
print(training_report)

              precision    recall  f1-score   support

           0       1.00      0.99      1.00     56259
           1       0.86      0.91      0.88      1893

    accuracy                           0.99     58152
   macro avg       0.93      0.95      0.94     58152
weighted avg       0.99      0.99      0.99     58152

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The high accuracy score of 0.99 means that the model predicts every set of features in the testing set 99% times on both testing and training data.That is, given the features, whether loan status is 0 (healthy loan) or 1 (high risk loan)\n
    The classification report also gives recall value of 0.99 for helathy loans and 0.91 for high risk loan. Which means that out of all the test and trainig data, the model correctly identified healthy loan 99% of the time and high-risk loan 91% of the time.

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [13]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!

# Fit the original training data to the random_oversampler model
# YOUR CODE HERE!

In [14]:
# Count the distinct values of the resampled labels data
# YOUR CODE HERE!

1    56271
0    56271
Name: loan_status, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [15]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!

# Fit the model using the resampled training data
# YOUR CODE HERE!

# Make a prediction using the testing data
# YOUR CODE HERE!

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [16]:
# Print the balanced_accuracy score of the model 
# YOUR CODE HERE!

0.9936781215845847

In [17]:
# Generate a confusion matrix for the model
# YOUR CODE HERE!

array([[18649,   116],
       [    4,   615]])

In [18]:
# Print the classification report for the model
# YOUR CODE HERE!

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.99      0.99      1.00      0.99      0.99     18765
          1       0.84      0.99      0.99      0.91      0.99      0.99       619

avg / total       0.99      0.99      0.99      0.99      0.99      0.99     19384

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** YOUR ANSWER HERE!